<!--  
 <section class="pricing-section">
    <div class="container">
		<div class="row justify-content-md-center">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<div class="section-title text-center title-ex1">
					<h2>Courses We Provide</h2>
					<p>Best in Service.</p>
				</div>
			</div>
		</div>
		<!-- Pricing Table starts 
		<div class="row">
			<div class="col-md-4">
				<div class="price-card ">
					<h2>Java</h2>
					<p>Trainer:Jane Doe</p>
					<p class="price"><span>20</span>Hours</p>
					<ul class="pricing-offers">
						<li>feature 1</li>
						<li>feature 2</li>
						<li>feature 3</li>

					</ul>
					<a href="#" class="btn btn-primary btn-mid">Learn more</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price-card ">
					<h2>Angular</h2>
					<p>Trainer:Bob Builder</p>
					<p class="price"><span>18</span>Hours</p>
					<ul class="pricing-offers">
						<li>feature 1</li>
						<li>feature 2</li>
						<li>feature 3</li>

					</ul>
					<a href="#" class="btn btn-primary btn-mid">Learn more</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price-card ">
					<h2>Python</h2>
					<p>Trainer:John Doe</p>
					<p class="price"><span>26</span>Hours</p>
					<ul class="pricing-offers">
						<li>feature 1</li>
						<li>feature 2</li>
						<li>feature 3</li>

					</ul>
					<a href="#" class="btn btn-primary btn-mid">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</section> -->


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CSS paper fold with hover effect</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  
</head>

<body>
    <div class="header">
        <header>
        <h2 class="title">What <span>Courses</span> We
            Offer
         </h2></header>
        </div>
<div class="container">
	<div class="row">
        
	<ul>
        
		<div class=" col-xs-12 Services-tab  item">
			<div class="folded-corner service_tab_1">
				<div class="text">
					<i class="fa fa-file-code-o fa-5x fa-icon-image"></i>
						
								<h3 class="item-title"> Java</h3>
							
                            
                            <!-- /.item-title -->
					<p>
						This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides, 
					</p>
				</div>
			</div>
	    </div>
		<div class="col-xs-12 Services-tab item">
			<div class="folded-corner service_tab_1">
				<div class="text">
					<i class="fa fa-code-fork fa-5x fa-icon-image" ></i>
						
							<h3 class="item-title"> Python</h3>
						<!-- /.item-title -->
						<p>
							This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides, 
					</p>
				</div>
			</div>
		</div>
		<div class=" col-xs-12 Services-tab item">
			<div class="folded-corner service_tab_1">
				<div class="text">
					<i class="fa fa-code fa-5x fa-icon-image"></i>
							<h3 class="item-title"> Angular</h3>
						<!-- /.item-title -->
					<p>
						This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides, 
					</p>
				</div>
			</div>
		</div>
		
		
	   </ul>
	</div>
</div>

  
  
  

</body>
</html>


<router-outlet></router-outlet>