

.container_contact{
    border: none;
        margin: 80px;
    


}
 .btn-primary {
	color: #fff;
	background-color:#ff9b00;
	border: none;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 20px;
    margin-top: 5px;
	min-width: 150px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.btn-primary:hover {
	-webkit-box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
	box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
}

.row{
    background-color: #fff;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #f4b841;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}


input, select{
    border: 1px solid gray;
  background-color: white;
    border-radius: 3px;
    padding:5px;
    
    text-align: center;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: none;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}